<%= tag__page_header %>

<%= tag__article 'Cestou do Mordoru', '13/6/2024, Taupō' do %>
    <%= tag__article_text_section do %>
        <p>Je pondělí odpoledne a my sedíme v městské knihovně v Tauranze. V práci jsme skončili v sobotu, užili jsme si pár volných dní. Smyli jsme prach, hlínu a pot z našich těl, vyprali, socializovali jsme se s naší pracovní skupinou, zatancovali si v baru, a přemýšlíme nad tím, kam povedou naše kroky dále. Máme týden volna na cestování, protože za týden již musíme být na farmě u paní Angely. Je tu tolik krásných míst, co stojí za vidění, ale už teď vím, že není v našich silách vidět vše. Takový je život, rozpůlit se nemůžeme. Ukazuji Ondrovi jednodenní trek Tongariro Alpine Crossing, který máme po cestě. Ihned si nás získávává z mnoha důvodů. Je součástí nejstaršího národního parku Tongariro, jež je také zapsán na Seznamu kulturního a přírodního dědictví UNESCO. Zahrunuje řadu sopek, dokonce i 2 nejaktivnější sopky na světě Mt. Ngāuuruhoe a Mt. Ruapehu. Mnoho scén z filmové trilogie „Pána prstenů“ se točila v tomto parku a Mt. Ngāuurahoe se stala předlohou pro vytvoření Hory osudu. Tento trek je součástí většího okruhu Tongariro Northern Circuit, který je několikadenním trekem, celý ho jít ale bohužel nemůžeme, protože je po letní sezóně a všude se dočítáme, že v tento čas již hrozí lavinová nebezpeční. Koukáme na předpověď počasí a zjištujeme, že pokud ho chceme stihnout projít, máme jedinečnou příležitost, protože se na Zéland ženou přívalové děště a bouřky. Předpověď mluví jasně, buď středa nebo nikdy. Není co řešit, přímou čarou prstem po mapě je to nějakých 180 km, opouštíme knihovnu a vydáváme se na cestu. Během úterý musíme zvládnou přejezd, plus sehnat mačky a cepíny, :-D, protože to se píše v doporučení pro zimní přechod. Říkáme si, jestli je to opravdu tak nezbytné, ale nechceme být ti 2 Češi, o kterých se píše v novinách, že je museli evakuovat. Tak slavná se tu stát opravdu nemusím.</p>
        <p>Cesta příjemně plyne, naší první zastávkou před cílem je informační centrum v měste Tūrangi ( ano, zní to dost podobně jako město, ze kterého jsme vyjeli). Říkáme si, kde jinde bychom měli sehnat nejaktuálnějsí informace než tady. Ukazuje se, že je to informační centrum spojené s městským úřadem. Paní za přepážkou na nás kouká dost zmateně, nejsme si jisti, zda-li je překážkou jazyková bariéra nebo nechce rozumnět obsahu. „Cože, to jsou zase nějací dva blázni, co to chtějí jít v zimě?!“, odhadujeme dle jejího výrazu. Rezolutně nám říká, že to jít v zimě sami nemůžeme, pouze pod podmínkou, že si najmeme zkušeného průvodce. Nerozumně se ptáme ještě na mačky a cepíny, ale to je už příliš, protože NE znamená NE a nikdo tady takovou službu jako pronájem maček a cepínů neposkytuje. To nás ale neodrazuje. Hned před úřadem se jednohlasně shodujeme, že je to paní úřednice, která tam nikdy nebyla a zná národní park pouze z fotek a informačních letáků, kterými je v kanceláři obklopena. Vygooglili jsme další městečko, jehož název je vtipný National Park, tam by měla být možnost sehnat potřebné vybavení. Po cestě vymýšlíme různé konspirační teorie o tom, jak nám to bude někdo vymlouvat za účelem zisku z poskytnutí služby průvodce. Máme tu dotřetice další háček, trek je oficiálně značen ze dvou míst Mangatepopo Car Park a Ketetahi Car Park, kde jezdí mezi parkovišti kyvydlová doprava. Koukáme do mapy na možnost zahájit náš trek ve Wakatepopo Village, kde je plno parkovišt. Vychytrale jedeme nejprve tam, ať máme eso v rukávu, že můžeme vyrazit odtamtud. V návštěvnickém centru nás paní ujišťuje, že to není standardní, ale je mimo sezónu a nikdo to tam tedy řešit nebude. Jinak je tu maximální délka stání 3 hodiny. Začínám si připadat jako na letním táboře, kdy jsme hráli hru „dědeček měnil až vyměnil :-)“, ale parkoviště máme! Jdeme do půjčovny. Ptáme se na mačky a cepíny. Je to v tomto kroku mnohem snažší než naše teorie, protože dostáváme informaci, že nahoře sníh ještě není a tudíž nejsou zapotřebí. S kyvadlovou dopravou je to však ouvej, museli bychom se podřídit stanovené trase z parkovišť a zaplatit každý 60 dolarů. To se nám ale vůbec nechce, protože od naší zkušenosti sběru kiwi vše přepočítáváme na hodiny strávené v sadech. Odmítáme službu, nejsme žádná béčka, máme něco nachozeno, střihneme si to z již zmiňovaného parkoviště, dosáhneme nejvyššího bodu Red Crater, abychom viděli to nej z celého treku a vrátíme se zpět. Mapy ukazují 32 km, což je dost, ale s malými batůžky to není žádná trága. Jedeme do kempu, večeříme a řipravujeme svačinky. Již na sadech se nám osvědčila kalorická bomba ve formě toustového chlebu, arašídového másla a marmelády. Další varianta je chleba s humusem, sýrem, vařeným vajíčkem a zeleninou. Přibalujeme čokoládu, banány a tyčinky, vaříme čaj a jdeme spát.</p>
        <p>Budík zvoní v 5:15, vstávat z teplého spacáčku se mi fakt nechce, ještě se na chvilku přitulím k Ondrovi. Navrstvuji oblečení, skáču na místo spolujezdce, Ondra startuje naši Vločku a jedeme na místo startu. Po cestě doufáme ve štěstí, že nám přes cestu přeběhne chlupané kiwi, které je v noci aktivním tvorem. Podél cesty se to hemží výstrašnými cedulemi, že jsme v oblasti jeho výskytu, ale bohužel zůstáváme pouze u tužeb. Snad příště. Parkujeme a je ještě tma, snídáme, vyčistíme zuby a vyrážíme. Dnes jsme nějací zpomalení, každodenní úkony nám trvají déle než jindy. Ještě doplnit zásoby vody a lehce před půl osmou vyrážíme. Již se rozednívá a na jednu stranu vidíme krásnou siluetu vulkánu Mt. Ngāuuruhoe a na druhou zasněženou nejvyšší Mt. Ruapehu, to nás motivuje. Prvních 10 km mapa slibuje rovný, maximálně lehce se zdvihající terén. Je to trochu lež, protože se klestíme údolíčkem vyhloubeným potůčkem. Naštěstí stav vody je minimální, ale koužeme bahnem a klopítáme o kořeny, sem tam musíme přehopsat řeku přes kamen. Kameny jsou mokré a já si představuji scénaře, jak se tam celá čváchtnu. Ondra, můj Milášek, mě ale nedá a galantně poskytuje oporu, kdykoliv je potřeba. Krajina je to ale krásná – tundra, jen keříky, vřesy, trsy trav a nízké byliny. Sluníčko je nad horizontem a my mu jdeme vstříc, klopíme hlavy, protože jinak nevidíme nic. Rozmrzají kapičky rosy na travách a my jsme celí mokří. Tento úsek je náročnější než jsme si mysleli a už teď mě straší myšlenka, že se vracíme stejnou cestou zpět. Zastavujeme na prvním odpočívadle, stanovili jsme si pro tuto příležitost Mangatepopo Hut. Máme za sebou první necelé 3 hodiny. Teď terpve nastane to správné stoupáníčko. Ale jsme okouzleni, procházíme kdysi ledovcovým údolím, které je zalito zčernalou lávou, neustále se přibližujeme k sopečnému kuželo posvátné hory. Ty barvy jsou neskutečné, z šedi a černi vystupují barevné pásy červených, zelených a žlutých odstínů. Stoupání je to solidní, ale trasa je krásně přizpůsobena, převážnou část stoupáme po upravené stezce nebo dřevěných schůdkách.  V polovině stoupání se ocitáme na planině mezi Mt. Tongariro, Red Crater a Mt. Nhauruhoe. Teď už je to jen po kamenech vzhůru. Jsme rádi za pořádné vybavení, pohory a trekové hole, které nám výstup značně ulehčují. V protisměru míjíme skupinku v bílých teniskách a mikynách. Nechápeme. Mnoho lidí nemá zkušenosti s vysokohorskou turistikou a nedokáží si představit, jak může být počasí na horách zrádné. Z tohoto důvodu vláda v roce 2007 trek přejmenovala z Tongariro Crossing na Tongariro Alpine Crossing, aby bylo všem jasno, že to není procházka v parku. Ledový vítr nám výšlap neulehčuje a já soptím a funím, jak jen to jde. Napsala bych, že po měsících nicnedělání během stěhování a práci na sadech jsem jaksi vyměkla, ale nebyla to pravdu. Spíš nohy si odvykly od pořádné námahy. Poslední kus je opravdovým dobrodružstvím, protože se jde po hraně kráteru, ale jsme na vrcholu! Je to nádhera, na vlastní oči vidíme všechna lákadla, co jsme vidět chtěli. Do zelena zbarvená Emerald Lakes a o trochu dále blankytně modré Blue Lake. Je to nádhera (to se už opakuji, ale je to tak :-)), vidíme na všechny strany a na obloze ani mráček, lepší den jsme si snad ani vybrat nemohli. Ne, nemohli :-). Prvním časovým limitem pro cestu zpět bylo 12 hodin, ale jelikož jsme ještě poobědovali a pořádně se pokochali výhledy, vyrážíme až lehce před 13. Dolů to jde samo, snažíme se dohat ztracený čas. Na planině mezitím roztála vrstva ledu, takže si to mlaskáme v hladkém bahýnku. Opět se zastavujeme u Mangatepopo Hut a dáváme poslední svačinku. Upřímně závidím všem kolemjdoucím, co to mají 25 min na parkoviště a ne jako my 3 hodiny cestou necestou vymletým údolíčkem zpět do vesnice k naší Vločce. V duchu se modlím ke všem přírodním bohům, abychom aspoň většinu cesty zvládli za světla nebo soumraku, jinak to bude zcela lidově o hubu. Nevím, jakým zázrakem, ale ještě za šera v 17:15 stojíme u Vločky. Padla mlha a tma. Zvládli jsme to! 32 km v nohách, 1000 metrů nastoupáno a 1000 metrů naklesáno za necelých 10 hodin a za plného světla :-D.</p>
    <% end %>
<% end %>

<section>
    <div class="container py-3">
        <div class="row">
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/1.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/1.jpeg">
                    </a>
                    <small>Mt. Ngāuuruhoe za soumraku</small>
                </div>
            </div>
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/7.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/7.jpeg">
                    </a>
                    <small>Mt. Ruapehu</small>
                </div>
            </div>
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/5.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/5.jpeg">
                    </a>
                    <small>lávové údolí</small>
                </div>
            </div>
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/2.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/2.jpeg">
                    </a>
                    <small>Mt. Ngāuuruhoe z bližší perspektivy</small>
                </div>
            </div>
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/6.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/6.jpeg">
                    </a>
                    <small>Red Crater pod náma</small>
                </div>
            </div>
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/3.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/3.jpeg">
                    </a>
                    <small>vrchol Red Crater s výhledem na jezera</small>
                </div>
            </div>
            <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                <div style="max-width: 300px;">
                    <a href="/assets/240612_tongariro/4.jpeg">
                        <img class="img-fluid" src="/assets/240612_tongariro/4.jpeg">
                    </a>
                    <small>šťastné shledání s Vločkou</small>
                </div>
            </div>
        </div>
    </div>
</section>