<header>
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Pejskovi na Aotearoa 🇳🇿</h1>
                <p>
                    Web v procesu :-) kupodivu na to najednou neni moc casu, ale zacneme to doplnovat, slibujeme!
                </p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container py-3">

        <div class="row mt-3">
            <div class="col-lg-3 text-body-secondary">
                26. 4. 2024, Brno
            </div>
            <h3 class="col-lg-8">
                <a href="/pages/posts/240624-moving-out.html">Jak se (ne)odstěhovat na Zéland</a>
            </h3>
            <div class="col-12">
                <p>
                    Když jsem se stěhoval naposledny, prohlašoval sem, že se už nikdy nechci stěhovat, že příště radši zapálím celý byt. Už tehdy jsem pomýšlel na to, že zvednu kotvy a vypluju někam do světa - Brno pro mě měl být jen dočasný přístav. Kotvil jsem v něm 5 let a poznal tam Páju a místo do Kanady mám(e) letenku na Zéland. A najednou vyklízím byt, ve kterém jsem nahromadil další kraviny i užitečné věci, nábytek plus jednou tolik Pájiných věci. Uf. Ale - my letíme na Zéland!
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-3 text-body-secondary">
                5. 5. 2024, Auckland
            </div>
            <h3 class="col-lg-8">
                <a href="/pages/posts/240505-flight.html">Letíme!</a>
            </h3>
            <div class="col-12">
                <p>
                    letíme
                </p>
                <div class="row">
                    <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                        <div style="max-width: 300px;">
                            <img class="img-fluid" src="/assets/flat-earth-map.png">
                        </div>
                    </div>
                    <div class="col-xm-6 col-md-4 col-xl-2 mb-4 d-flex justify-content-center">
                        <div style="max-width: 300px;">
                            <img class="img-fluid" src="/assets/prilet_my_dva.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-3 text-body-secondary">
                13. 6. 2024, Taupō
            </div>
            <h3 class="col-lg-8">
                <a href="/pages/posts/240613-tongariro-alpine-crossing.html">Cestou do Mordoru</a>
            </h3>
            <div class="col-12">
                <p>
                    Náš první hike a zároveň poslední před příchodem zimy: Tongariro Alpine Crossing.
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-3 text-body-secondary">
                future
            </div>
            <h3 class="col-lg-8">
                <a href="/pages/posts/void">void</a>
            </h3>
            <div class="col-12">
                <p>
                    next post
                </p>
            </div>
        </div>

    </div>
</section>